.bg-container {
  background-image: url(./images/bg.svg), url(./images/bg-top.svg), url(./images/overlay.svg), url(./images/stp.jpg);
  background-repeat: no-repeat;
  background-size: contain, contain, cover, cover;
  background-position: center bottom, top center, center, bottom center;
}

.current {
  background-color: #2c9f45;
}

.wrong {
  background-color: #e73635;
}