* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.bg-container {
  background-image: url(./images/bg.svg), url(./images/bg-top.svg), url(./images/overlay.svg), url(./images/stp.jpg);
  background-repeat: no-repeat;
  background-size: contain, contain, cover, cover;
  background-position: center bottom, top center, center, bottom center;
}

.current {
  background-color: #2c9f45;
}

.wrong {
  background-color: #e73635;
}

.animateBounce {
  animation: myAnimBounce 2s ease 0s 1 normal forwards;
}


@keyframes myAnimBounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}